<!doctype html>
<html lang="es">
<head><meta charset="utf-8"><title>Intranet {{ nombre_empresa }}</title></head>
<body style="font-family:sans-serif;">
  <h1>Bienvenidos a la Intranet de {{ nombre_empresa }}</h1>
  <p>Servidor aprovisionado con Ansible.</p>
</body>
</html>
